:root {
	/* Colors: */
	--unnamed-color-d7d6d6: #d7d6d6;
	--unnamed-color-b0aeae: #b0aeae;
	--unnamed-color-888585: #888585;
	--unnamed-color-615d5d: #615d5d;
	--unnamed-color-b4d377: #b4d377;
	--unnamed-color-ecf4dd: #ecf4dd;
	--unnamed-color-d9e9bb: #d9e9bb;
	--unnamed-color-c7de99: #c7de99;
	--unnamed-color-ffffff: #ffffff;
	--unnamed-color-354c36: #354c36;
	--unnamed-color-393434: #393434;
	--unnamed-color-a1c854: #a1c854;

	/* Font/text values */
	--unnamed-font-family-raleway: "Raleway", sans-serif;
	--unnamed-font-style-normal: normal;
	--unnamed-font-weight-300: 300px;
	--unnamed-font-weight-600: 600px;
	--unnamed-font-weight-medium: medium;
	--unnamed-font-weight-bold: bold;
	--unnamed-font-size-10: 10px;
	--unnamed-font-size-14: 14px;
	--unnamed-font-size-15: 15px;
	--unnamed-font-size-16: 16px;
	--unnamed-font-size-18: 18px;
	--unnamed-font-size-22: 22px;
	--unnamed-font-size-25: 25px;
	--unnamed-font-size-30: 30px;
	--unnamed-font-size-32: 32px;
	--unnamed-font-size-42: 42px;
	--unnamed-font-size-68: 68px;
	--unnamed-character-spacing--0-01: -0.01px;
	--unnamed-character-spacing--0-02: -0.02px;
	--unnamed-character-spacing--0-03: -0.03px;
	--unnamed-line-spacing-14: 14px;
	--unnamed-line-spacing-19: 19px;
	--unnamed-line-spacing-25: 25px;
	--unnamed-line-spacing-27: 27px;
	--unnamed-line-spacing-30: 30px;
	--unnamed-line-spacing-36: 36px;
	--unnamed-line-spacing-46: 46px;
	--unnamed-line-spacing-74-80000305175781: 74.80000305175781px;
	--unnamed-line-spacing-31-5: 31.5px;
	--unnamed-line-spacing-40-5: 40.5px;
	--unnamed-text-transform-uppercase: uppercase;
}

.wrapper {
	width: 100%;
}

/* Navigation Bar Styles */

.navbar-container {
	height: 173px;
	background-color: #ffffff;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	position: relative;
	padding: 0 135px;
}

.jones-palmer-logo {
	max-width: 343.98px;
	max-height: 45.06px;
}

.nav-btn-container:not(.mobile-menu) {
	display: flex;
	flex-direction: row;
}

.nav-btn-container li {
	padding: 20px;
	text-align: left;
	font-family: var(--unnamed-font-family-raleway);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-15);
	line-height: var(--unnamed-line-spacing-31-5);
	letter-spacing: var(--unnamed-character-spacing--0-01);
	text-transform: var(--unnamed-text-transform-uppercase);
	letter-spacing: -0.01px;
}

.nav-btn-container li:not(.nav-btn-git) :hover {
	color: #a1c854;
}

.nav-btn-git {
	padding: 20px;
	background-color: var(--unnamed-color-a1c854);
	border-radius: 5px;
	font-family: var(--unnamed-font-family-raleway);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	line-height: var(--unnamed-line-spacing-31-5);
	text-transform: uppercase;
}

.nav-btn-git:hover {
	color: #a1c854;
	background-color: #393434;
	border-radius: 5px;
}

.nav-dropdown {
	position: relative;
	display: inline-block;
}

.nav-dropdown-content {
	display: none;
	position: absolute;
	background-color: #393434;
	border-radius: 0px 0px 5px 5px;
	margin: 11px 0 0 0;
	width: 230px;
	z-index: 1;
}

.nav-dropdown-content .text {
	color: #ffffff;
	border-top: 0.5px solid #d7d6d6;
	font-size: 17px;
	font-weight: 300;
	text-transform: none;
	padding: 5px 18px;
	letter-spacing: -0.01px;
	line-height: 25px;
}

.nav-dropdown-content .mobile-text {
	color: black;
	padding: 5px 0 5px 40px;
}
.nav-dropdown-content .mobile-item {
	padding: 5px 0 5px 40px;
}

/* Middle Section Styling of Page */

.page-middle-background {
	width: 100%;
	background-color: #393434;
}

.page-middle-container {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1920px;
	max-height: fit-content;
	width: 100%;
}

.page-m-right {
	display: flex;
	max-height: fit-content;
	width: 50%;
}

.page-m-right-img {
	max-width: 100%;
	height: auto;
	width: auto;
}

.page-m-left {
	width: 50%;
}

.page-m-left-content {
	display: flex;
	flex-direction: column;
	max-width: 636px;
	max-height: 991px;
	gap: 3rem;
	padding: 130px 200px;
}

.page-m-left-content-title {
	color: #d7d6d6;
	font-family: var(--unnamed-font-family-raleway);
	font-size: 18px;
	letter-spacing: -0.01px;
	text-align: left;
	text-transform: uppercase;
}

.page-m-left-content-header {
	text-align: left;
	font-family: var(--unnamed-font-family-raleway);
	font-weight: var(--unnamed-font-weight-medium);
	font-size: 42px;
	letter-spacing: -0.02px;
	line-height: 45px;
}

.page-m-left-content-header.top {
	color: #ffffff;
}

.page-m-left-content-header.bottom {
	color: #a1c854;
}

.page-m-left-content-description-container {
	max-width: 523px;
}

.page-m-left-description {
	text-align: left;
	font-size: 30px;
	font-family: var(--unnamed-font-family-raleway);
	line-height: 45px;
	color: #ffffff;
}

.page-m-left-content-description-light {
	font-weight: 300;
}
.page-m-left-content-description-medium {
	font-weight: 500;
}

.page-m-left-button-container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.page-m-left-button.corp,
.page-m-left-button.sust,
.page-m-left-button.corpbrand {
	background: no-repeat center left;
	background-size: 56.75px 56.75px;
	color: #ffffff;
	font-family: var(--unnamed-font-family-raleway);
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: -0.01px;
	max-width: 371.58px;
	padding: 20px 80px;
	text-align: left;
	position: relative;
}

.page-m-left-button.corp span,
.page-m-left-button.sust span,
.page-m-left-button.corpbrand span {
	padding-right: 70px;
}

.page-m-left-button.corp:after,
.page-m-left-button.sust:after,
.page-m-left-button.corpbrand:after {
	content: ">";
	position: absolute;
	opacity: 1;
	top: 20px;
	right: 15%;
	transition: 0.3s;
}

.page-m-left-button.corp:hover:after,
.page-m-left-button.sust:hover:after,
.page-m-left-button.corpbrand:hover:after {
	opacity: 1;
	right: 10%;
	transition: 0.3s;
}

.page-m-left-button:hover {
	color: #a1c854;
	transition: 0.3s ease;
}

.page-m-left-button.corp.image {
	background-image: url(https://www.jonesandpalmer.co.uk/img/svg/annual-reports-white.svg);
}

.page-m-left-button.corp.image:hover {
	background-image: url(https://www.jonesandpalmer.co.uk/img/svg/annual-reports.svg);
}

.page-m-left-button.sust.image {
	background-image: url(https://www.jonesandpalmer.co.uk/img/svg/sustainability-icon-white.svg);
}

.page-m-left-button.sust.image:hover {
	background-image: url(https://www.jonesandpalmer.co.uk/img/svg/sustainability-icon-green.svg);
}

.page-m-left-button.corpbrand.image {
	background-image: url(https://www.jonesandpalmer.co.uk/img/svg/branding-white.svg);
}

.page-m-left-button.corpbrand.image:hover {
	background-image: url(https://www.jonesandpalmer.co.uk/img/svg/branding.svg);
}

/* Bottom Section of Page */

.page-bottom-background {
	width: 100%;
	background-color: #ffffff;
}

.page-bottom-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 1479px;
	padding: 160.54px 220px;
}

.page-b-title {
	font-family: var(--unnamed-font-family-raleway);
	font-size: 18px;
	font-weight: 600;
	color: #d7d6d6;
	text-transform: uppercase;
	line-height: 31.5px;
	letter-spacing: -0.01px;
}

.page-b-paragraph-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.page-b-paragraph.left {
	color: #393434;
	text-align: left;
	font-family: var(--unnamed-font-family-raleway);
	font-weight: 500;
	font-size: 42px;
	line-height: 46px;
	letter-spacing: -0.02px;
	max-width: 645px;
	width: 50%;
	padding: 50px 75px 94px 0;
}

.page-b-paragraph.left .green {
	color: #a1c854;
}

.page-b-paragraph.right {
	color: #393434;
	text-align: left;
	font-family: var(--unnamed-font-family-raleway);
	font-weight: 300;
	font-size: 30px;
	line-height: 40.5px;
	letter-spacing: -0.01px;
	max-width: 684px;
	width: 50%;
	padding: 50px 0 94px 75px;
}

.page-b-paragraph.right .bold {
	font-weight: 500;
}

.page-b-partner-container {
	display: flex;
	flex-flow: row wrap;
	order: 2;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

@media screen and (max-width: 1500px) {
	.navbar {
		padding: 0 20px;
	}
	.nav-btn-container li {
		padding: 10px;
	}
	.page-m-left-content {
		padding: 130px 100px;
	}

	/* Bottom Section of Page */

	.page-bottom-container {
		padding: 100px 100px;
	}
	.page-b-title {
		font-size: 14px;
	}
	.page-b-paragraph.left {
		padding: 50px 25px 78px 0;
		font-size: 32px;
		line-height: 30px;
	}
	.page-b-paragraph.right {
		padding: 50px 0 78px 25px;
		font-size: 20px;
		line-height: 24.5px;
	}
}

@media screen and (max-width: 1200px) {
	/* Middle Section of Page */
	.page-m-left-content {
		justify-content: center;
		padding: 100px 0;
		width: unset;
	}
	.page-m-right {
		display: none;
	}
}

@media screen and (max-width: 972px) {
	.hamburger-nav {
		cursor: pointer;
	}
	.hamburger-menu {
		background: var(--unnamed-color-393434);
		display: inline-block;
		height: 3px;
		position: relative;
		width: 25px;
		margin: 20px;
	}
	.hamburger-menu::before,
	.hamburger-menu::after {
		background: var(--unnamed-color-393434);
		content: "";
		display: inline-block;
		height: 3px;
		position: absolute;
		width: 25px;
	}
	.hamburger-menu::before {
		top: 10px;
	}
	.hamburger-menu::after {
		top: -10px;
	}
	.mobile-menu {
		position: absolute;
		bottom: 0;
		top: 100%;
		left: 0;
		right: 0;
	}
	.mobile-menu li {
		padding: 15px;
		background-color: var(--unnamed-color-ffffff);
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.navbar-container {
		height: 125px;
	}
	.jones-palmer-logo {
		max-width: 250px;
	}

	/* Middle Section of Page */
	.page-m-left {
		padding: 20px;
	}
	.page-m-left-content {
		gap: 2rem;
		padding: 50px 0;
	}
	.page-m-left-content-title {
		font-size: 15px;
	}
	.page-m-left-content-header {
		font-size: 35px;
		line-height: 35px;
	}
	.page-m-left-description {
		font-size: 18px;
		line-height: 25px;
	}
	.page-m-left-button-container {
		gap: 1rem;
	}
	.page-m-left-button.corp,
	.page-m-left-button.sust,
	.page-m-left-button.corpbrand {
		font-size: 18px;
	}

	/* Bottom Section of Page */
	.page-bottom-container {
		padding: 25px;
	}
	.page-b-title {
		font-size: 14px;
	}
	.page-b-paragraph.left {
		padding: 34px 15px 50px 0;
		font-size: 24px;
		line-height: 24px;
	}
	.page-b-paragraph.right {
		padding: 34px 0 50px 15px;
		font-size: 15px;
		line-height: 20px;
	}
	.page-b-partner-container {
		gap: 1rem;
	}
	.page-b-partner-images {
		height: 15%;
		width: 25%;
	}
}

@media screen and (max-width: 450px) {
	.navbar-container {
		height: 100px;
	}
	.jones-palmer-logo {
		max-width: 180px;
	}
	/* Middle Section of Page */
	.page-m-left {
		width: 90%;
	}
	.page-m-left-content-title {
		font-size: 13px;
	}
	.page-m-left-content-header {
		font-size: 25px;
	}
	.page-m-left-description {
		line-height: 20px;
	}
	.page-m-left-button-container {
		width: 100%;
	}
	.page-m-left-button.corp,
	.page-m-left-button.sust,
	.page-m-left-button.corpbrand {
		font-size: 18px;
	}

	/* Bottom Section of Page */
	.page-b-title {
		font-size: 10px;
	}
	.page-b-paragraph.left {
		padding: 25px 15px 30px 0;
		font-size: 15px;
		line-height: 20px;
	}
	.page-b-paragraph.right {
		padding: 25px 0 30px 15px;
		font-size: 11px;
		line-height: 16px;
	}
	.page-b-partner-images {
		height: 20%;
		width: 27%;
	}
}
